<style>
    body{
  margin-top: 60px;
}

h1{
  font-family: Lobster, Times-New-Roman, Monospace;
  font-size:46pt;
}

h2{
  font-family:Times-New-Roman;
}

h3{
  font-family:Times-New-Roman;
}

.quote{
  font-size:40pt;
}
</style>